<input type="text" ng-model="search" ng-change="change()">
{{search}}
<p>{{data}}</p>
<img ng-src="{{data.Poster}}" alt="Movie Poster N/A">
<h1>{{data.Title}}</h1>
<p><strong>Year:</strong> {{data.Year}}</p>
<p><strong>Director:</strong> {{data.Director}}</p>
<p><strong>Actors:</strong> {{data.Actors}}</p>
<p><strong>Writer:</strong> {{data.Writer}}</p>
<p><strong>Awards:</strong> {{data.Awards}}</p>
<p><strong>Rated:</strong> {{data.Rated}}</p>
<p><strong>Released:</strong> {{data.Released}}</p>
<p><strong>Runtime:</strong> {{data.Runtime}}</p>
<p><strong>Plot:</strong> {{data.Plot}}</p>
<p><strong>Metascore:</strong> {{data.Metascore}}</p>
<p><strong>Genre:</strong> {{data.Genre}}</p>
<p><strong>Language:</strong> {{data.Language}}</p>
<p><strong>Rating:</strong> {{data.imdbRating}}</p>
<p><strong>Votes:</strong> {{data.imdbVotes}}</p>
<p><strong>Type:</strong> {{data.Type}}</p>
